.main {
  min-height: 100vh;
  padding-top: 50px;
}

.desktopSidebar {
  display: none;
}

.content {
  max-width: 1056px;
  margin: 0 auto;
  padding: var(--space-6);
}

@media (min-width: 1024px) {
  .desktopSidebar {
    display: flex;
  }

  .main {
    padding-top: 0;
    padding-left: 256px;
  }
}
